.FaqAbout_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FaqAbout_image {
    width: 80vw;
    margin-bottom: 20px;
}

.FaqAbout_image_img {
    height: 50vh;
    width: 100%;
}

.FaqAbout_text {
    color: var(--tg-theme-text-color);
    text-align: justify;
    margin-bottom: 20px;
}