.FaqLiving_wrapper {
    display: flex;

    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBE1;
}

.FaqLiving_headerText {
    padding-top: 20px;
}

.FaqLiving_image {
    display: flex;
    font-size: 52px;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: #82D7E1;
}

.FaqLiving_image_img {
    height: 20vh;
    width: 30vw;
    margin-bottom: 25px;
}

.FaqLiving_text {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    background-color: #EBEBE1;
    width: 100vw;
}

th, td {
    border: 1px double #000;
            text-align: center; /* Горизонтальное центрирование */
            vertical-align: middle; /* Вертикальное центрирование */
            height: 50px;
            padding: 20px;
}

table {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.FaqLiving-button {
    margin-bottom: 20px;
}